body{
    background-color: white;
}

.pagina{
    text-align: center;

}

.contenedor-principal{

    background-color: white;
    border: 1px solid gray;
    padding: 5px 10px 5px 10px;
    margin: 1%;
    border-radius: 10px;
}

.nombre{
    mar    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}

.perfil1{
    
}

.primer-lista, .segunda-lista{
    
    margin: 5px 10px 5px 10px;
    display: flex;
    gap: 50px;
    margin-bottom: 8px;
    padding: 5px 10px 5px 10px;
    
}


img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-top: 10px;


}

